table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

table table {
  border-collapse: collapse;
  margin: 8px;
  width: 100%;
}

table table th,
table table td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

table table th {
  background-color: #f2f2f2;
}
